.chat-section {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

#chat-box::-webkit-scrollbar {
    width: 6px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 10px;
}

.badge-primary {
    background-color: #007bff;
}

#new-note {
    resize: none;
    border-radius: 5px 0 0 5px;
}